body{
	background-color: #22211F;
	background-image: url("Images/background.png");
	background-repeat: repeat;
	background-position: center;
}
h1{
	font-family: "Lucida Console", "Courier New", monospace;
	color: ghostwhite;
	text-align: center;

}
h2{
	font-family: "Courier New", monospace;
	color: ghostwhite;
	text-align: center;
}
h3{
	font-family: "Courier New", monospace;
	color: ghostwhite;
	text-align: center;
}
h4{
	font-family: "Courier New", monospace;
	color: ghostwhite;
	text-align: center;
}
p{
	font-family: "Courier New", monospace;
	color: ghostwhite;
	text-align: center;
}
#MainMenu{
	height: 40px;
}
#StartGameButton{
	padding: 5px;
	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;

	text-align: center;
	background-color: #22211f;
	color: white;
	border: solid 5px #3C3C44;
	height: 20px;
}
#StartGame{
	display: none;
}
#Chapter{
	padding: 5px;
	background-color: #22211f;
	border: solid 5px #3C3C44;
}
#Image{
	height: 500px;
	background-color: #22211f;
	border: solid 5px #3C3C44;
}
#Story{
	padding: 10px;
	background-color: #22211f;
	border: solid 5px #3C3C44;
}
#Game{
	padding: 20px;
	background-color: #22211f;
	border: solid 5px #3C3C44;
}
.buttonDesign{
	text-align: center;
	vertical-align: center;
	background-color: ghostwhite;
	color: #22211f;
	border: solid 3px #3C3C44;
	font-family: "Courier New", monospace;
}